#title {
	margin-top: 10px;
	font-size: 60px;
	margin-left: 10px;
}

.navbar {
	height: 8rem;
	z-index: 2;
	background: #dafbff;
}

#brand-cast {
	/*border: 2px solid blue;*/
	border-radius: 1px; 
	padding: 3px;
	position: absolute;
	top: 0px;
	left: 0;
}

.remember-check {
	margin-left: 15px;
}

#checkbox-btn {
	margin-right: 10px;
}

.modal-btn {
	background: #000a8a;
	color: white;
}

.modal-btn:hover, .modal-btn:active, .modal-btn:focus {
	background: #3039b1;
	color: white;
}

#title, #title:hover {
	text-decoration: none;
	cursor: pointer;
	color: #000a8a;
	font-family: 'Boogaloo', cursive;
	margin-left: 70px;
	border-left: 2px outset #dcdcff;
	position: absolute;
	top: 3px;
}

.login-panel {
	float: right;
	height: 7.9rem;
	border-radius: 5px;
}

#login-btn, #user-btn {
	padding: 10px;
	width: 200px;
	font-size: 40px;
	height: 7.9rem;
	background: #000a8a;
	color: white;
	border: none;
	border-radius: 0;
	font-family: 'Boogaloo', cursive;
}

#login-btn:focus, #user-btn:focus {
	outline: none;
}

.login-img {
	height: 25px;
	width: 25px;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 20px;
}

#login-modal {
	z-index: 2000;
}

.modal-backdrop {
	z-index: 10;
}

#signup-btn {
	float: left;
}

#profile-card {
	float: left;
	text-align: center;
	width: 20rem;
	height: 8rem;
}

#profile-link {
	margin: 5px;
	float: left;
	font-size: 20px;
}

#logout-link {
	margin: 5px;
	font-size: 20px;
	float: right;
}

#user-welcome {
	background: #ad581a;
	color: white;
	font-family: 'Boogaloo', cursive;
	font-size: 3rem;
}

#user-options {
	height: 3.6rem;
	background: #1a0e73;
	color: white;
	font-family: 'Boogaloo', cursive;
}

.google-search {
	float: right;
	padding: 10px;
	margin-right: 100px;
}

#google-search-btn {
	margin-left: 5px;
	height: 4rem;
	width: 15rem;
	font-family: 'Boogaloo', cursive;
	background: #000a8a;
	color: white;
	font-size: 20px;
	z-index: 1;
}

#googleInput {
	width: 50rem;
}

#search-icon {
	z-index: 50;
	float: right;
}

@media only screen and (max-width: 768px) {
	.google-search {
		display: none;
	}
}