#title {
	margin-top: 10px;
	font-size: 50px;
	margin-left: 10px;
}

.navbar {
	height: 8rem;
	z-index: 2;
	background: #c1f9ff;
}

#brand-cast {
	/*border: 2px solid blue;*/
	border-radius: 1px; 
	padding: 3px;
	position: absolute;
	top: 0px;
	left: 0;
}

#title, #title:hover {
	text-decoration: none;
	cursor: pointer;
	color: #000a8a;
	font-family: 'Boogaloo', cursive;
	margin-left: 70px;
	border-left: 2px outset #dcdcff;
	position: absolute;
	top: 3px;
}

.login-panel {
	float: right;
	height: 7.9rem;
	border-left: 5px solid #c3c3ff;
	border-right: 5px solid #c3c3ff;
}

#login-btn, #user-btn {
	margin-top: 7px;
	margin-right: 10px;
	margin-left: 10px;
	padding: 10px;
	width: 200px;
	font-size: 25px;
}

.login-img {
	height: 25px;
	width: 25px;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 20px;
}

#login-modal {
	z-index: 2000;
}

.modal-backdrop {
	z-index: 10;
}

#signup-btn {
	float: left;
}

#profile-card {
	float: left;
	text-align: center;
	width: 20rem;
	height: 8rem;
}

#profile-link {
	margin: 5px;
	float: left;
}

#logout-link {
	margin: 5px;
	float: right;
}

#user-welcome {
	background: #ad581a;
	color: white;
	font-family: 'Boogaloo', cursive;
	font-size: 3rem;
	padding-top: 3px;
	padding-bottom: 3px;
}

#user-options {
	height: 3rem;
	background: #1a0e73;
	color: white;
}