#sidebar {
	position: fixed;
	top: 73px;
	bottom: 0;
	left: 0;
	z-index: 1;
	display: block;
	padding-top: 20px;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: #ebf5ff;
	border-right: 4px solid #c8c8ff;
}

.sidebar-link {
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
	font-size: 24px;
}

.group-card {
	border: 7px ridge #b4bde2;
	width: 25rem;
	margin-bottom: 20px;
	background: #fffcf7;
	color: #545454;
	font-family: 'Chelsea Market', cursive;
}

.group-card-header {
	background: #dedede;
	font-size: 30px;
	margin-bottom: 10px;
}

.setting-link {
	font-size: 25px;
	cursor: pointer;
	font-family: 'Chelsea Market', cursive;
	margin-bottom: 0px;
}

.cat-header {
	margin: 0px;
	font-size: 2rem;
}

.side-cat-list:hover {
	background: #d0ffff;
	color: black;
	box-shadow: inset 0 0 5px #000000;
}

.side-cat-list {
	padding: 0px;
	cursor: pointer;
	background: white;
	border: none;
}

.setting-card {
	border: 10px ridge #b4bde2;
	width: 25rem;
	background: #fff5e4;
	color: #904747;
	font-family: 'Chelsea Market', cursive;
}

#side-set-list {
	margin-bottom: 0px;
}

#settings-btn:hover {
	background: #fff5e4;
	color: black;
	box-shadow: inset 0 0 5px #000000;
}

#settings-btn {
	padding: 0px;
	color: #545454;
	border: none;
	background: white;
}

.start-cat {
	border-bottom: 1px solid #dedede;
}

.sidebar-body {
	margin-bottom: 0px;
}

#help-page {
	margin-top: 50px;
	border-top: 1px solid grey;
	border-bottom: 1px solid grey;
	margin-bottom: 10px;
}

#help-page:hover {
	background: #d0ffff;
	cursor: pointer;
	box-shadow: inset 0 0 5px #000000;
}